POSTGRES_DB=mlflow
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow_password

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
DEFAULT_BUCKET_NAME=mlflow-bucket

MLFLOW_PORT=5050
S3_API_PORT=9000
S3_UI_PORT=9001
POSTGRES_PORT=5432
